html, body {
	margin:0;
	padding:0;
}
/*html { background:#e7e4d1 url(../images/html.jpg) fixed }*/
html {
  background: url("../images/noise.png"), -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 1000, color-stop(0%, #37d7ff), color-stop(100%, #0a91b2));
  background: url("../images/noise.png"), -webkit-radial-gradient(top center, circle, #37d7ff 0%, #0a91b2 1000px);
  background: url("../images/noise.png"), -moz-radial-gradient(top center, circle, #37d7ff 0%, #0a91b2 1000px);
  background: url("../images/noise.png"), -o-radial-gradient(top center, circle, #37d7ff 0%, #0a91b2 1000px);
  background: url("../images/noise.png"), radial-gradient(top center, circle, #37d7ff 0%, #0a91b2 1000px);
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none; }
/*body {
	font-size:100%;
	font-family:Georgia, "URW Bookman L", serif;
	font-weight:normal;
	font-style:normal;
	font-variant:normal;
	line-height:1.5;
	vertical-align:baseline;
	color:#333;
	background:#F0F0F0;
	background-color:rgb(240, 240, 240);
	background-repeat:repeat-x;
	background-position:top;
	background:url(../images/body.jpg) center 140px no-repeat fixed;
}*/
body{
	background-size: 50px 50px;
	background-position: top right;
	margin-left: auto;
	margin-right: auto;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	width: 950px;
	margin-bottom: 10px;
	margin-top: 100px;
	background-color: #f9f7ec;
	padding: 15px;
	border-radius: 5px 0 5px 5px;
	box-shadow: 0px 0px 5px 2px #0a91b2;
}
/*div.fade{
	background: url(../images/fade.png);
height: 155px;
width: 100%;
position: fixed;
top: 0;
left: 0;
z-index:2;
}*/
div.header{
	z-index: 3;
	/*position: fixed;
	margin-left: -300px;*/
	left: 50%;
}
div.wrapper{
	width: 600px;
margin: 0 auto;
}
div.logo{
	background: #251c05 url(../images/scratches.gif) center center no-repeat;
	padding: 10px 40px;
	border-radius: 5px;
	width: 88%;
	margin: 0 auto;
}
a.span{
	font-weight: normal;
}

strong {
	font-weight:bold;
	color:#444;
}
em {
	font-style:italic;
	font-variant:normal;
}
textarea {
	overflow:auto;
}
header, nav, section, article, footer, aside, address, figure, code {
	display:block;
}
a img {
	outline:0;
	border:none;
	border: 0px;
	vertical-align:middle;
}
ul, ol, dl {
	padding:0;
	margin:0;
	text-align:left;
	list-style:none;
}
li {
	display:inline;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top:0;
	line-height:1.6;
}
p {
	padding-bottom:30px;
}
p em {
	font-style:italic;
}
a {
	cursor:pointer;
}
a:link, a:visited {
	text-decoration:none;
	color:white;
}
a:active, a:hover, a:focus {
	text-decoration:underline;
}

#nav>span{
	color: gray;
	font-size: 15px;
	padding-right: 15px;
	cursor:pointer;
}

header h1 {
	font-family:arial;
	text-align:left;
	font-size:260%;
	font-style:italic;
	padding-left:80px;
	
}

h2, h3 {
	font-family:Verdana, Geneva, "DejaVu Sans", sans-serif;
	font-weight: bold;
	letter-spacing: 0.03em;
	color: rgba(0,125,9, 0.8);
	text-shadow: 1px 4px 6px #F0F0F0, 0 0 0 #000, 1px 4px 6px #F0F0F0;
}
h2 {
	margin:0 auto;
	padding:40px 0;
	width:740px;
	color: rgba(0,125,9, 0.8);
	font-size:180%;
	font-style:normal;
	text-align:left;
}
/* this next two selectors must be seperated as such, other heading tags will use greenish bg color for selection as defined below */
h2::selection, h3::selection {
	text-shadow: none !important
}
h2::-moz-selection, h3::-moz-selection {
 text-shadow: none !important
}
h3 {
	padding:20px 0 0 0;
	font-size:130%;
	font-style:normal;
	text-align:left;
	color: rgba(0,125,9, 0.8);
	text-shadow: 1px 4px 6px #F0F0F0, 0 0 0 #000, 1px 4px 6px #F0F0F0;
}

/* is section */
.content {
	width:740px;
	margin:0 auto;
	overflow:hidden;
}
/*.content p {
	text-align:justify;
}*/
/* content selection bg green leave it in place as both is needed for different browser support */
.content ::-moz-selection {
	background: rgb(75, 187, 216);
	color: white;
}
.content ::selection {
	background: rgb(75, 187, 216);
	color: white;
}
.content ul {
	display:block;
	padding:5px 0 20px 15px;
	margin:0 15px 15px 15px;
	font-size:97%;
}
.content ul li {
	display:block;
	margin:10px 4px 10px 20px;
	padding-top:5px;
	padding-bottom:5px;
	display:list-item;
	list-style:disc;
	list-style-position:outside;
}

#speedread, #speedOutput{
	width: 100%;
	text-align: center;
}
#typingInput{
	width:100%;
	text-align: center;
	padding-bottom: 50px;
}

.greenHighlight{
	background-color: lightgreen;
}

.redHighlight{
	background-color: red;
}

#timer{
	padding-left: 25px;
	padding-right:25px;
	width: 45px;
	display: inline-block;
}

#speedText, #readText, #typingOutput, #graphText, #maze{
	width:740px;
	margin: 0 auto;
}

#typingOutput{
	text-align: left;
	height: 75px;
	margin-top: 25px;
	overflow: hidden;
}


			/* tell the SVG path to be a thin blue line without any area fill */
path {
	stroke: steelblue;
	stroke-width: 1;
	fill: none;
}
			
.axis {
    shape-rendering: crispEdges;
}

.x.axis line {
    stroke: lightgrey;
}

.x.axis .minor {
    stroke-opacity: .5;
}

.x.axis path {
    display: none;
}

.y.axis line, .y.axis path {
	fill: none;
    stroke: #000;
}


/*maze css*/
  table {
    margin: 1em 0;
    border-collapse: collapse;
  }
  th {
    background: #ccf;
    border: 1px solid;
    white-space: nowrap;
    text-align: left;
  }
  td {
    border: 2px solid;
    background: lightgrey;
    width: 20px;
    height: 20px;
  }
